.title-scroll {
  font-weight: bolder;
  font-size: 1.5rem;
  color: rgb(0 27 148);
  font-family: "Montserrat", sans-serif;
  padding: 0%;
  margin: 6px 10px 6px 0px;
}

.sub_title {
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0px;
  margin: 6px 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  display: none;
  position: static;
  height: 50vh;
  width: 100vw;
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.column {
  padding: 4rem 6rem;
  margin-left: auto;
  margin-right: 0;
}

.column p {
  font-size: 24px;
  font-weight: 400;
}


.scrollspy-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  position: relative;
}

.scrollspy-section .border-line {
  /* border-bottom: 1.5px solid blue; */
  /* border-color: blue !important;
  background-color: blue !important;
  background: blue !important; */
  width: 85%;
  height: 2px;
  position: relative;
  bottom: 0; 
  left: 0; 
  transition: width 0.5s ease, border-bottom 1s ease; 
}

.scrollspy-section:hover .border-line {
  /* width: 100%; */
  /* border-bottom: 1.8px solid blue; Increased border thickness on hover */
  /* border-color: blue !important;
  background-color: blue !important;
  background: blue !important; */
}


@media screen and (max-width: 899px) {
  .wrapper {
    flex-direction: column;
  }

  .image {
    display: none;
  }

  .scrollspy-section {
    height: 50vh;    
  }
  .column {
    /* width: 50%; */    
    padding: 3rem 3rem;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row;
  }

  .column {
    /* width: 50%; */    
  }

  .image {
    height: calc(100vh - 100px);
    width: 50vw;
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
    align-self: flex-start;
    display: block;
  }

}