/* Header Styles */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 15px 20px;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.logo {
    height: 40px;
}

.navbar {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    font-weight: 600;
}

.start-project-btn {
    background: black;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;    
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    /* transition: all 0.3s ease; */
}


.home-background {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(5px);
}

.scrolled-background {
    backdrop-filter: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
    color: #000;
    background: #fff;
}

.scrolled-background .navbar a {
    color: black;
}

.scrolled-background .start-project-btn {
    background: black;
    color: white;
}

.scrolled-background .menu-icon {
    color: black;
}



/* Mobile View */
@media screen and (max-width: 768px) {
    .navbar {
        position: absolute;
        top: 60px;
        left: 0;        
        right: 0;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        width: 100vw;
        padding: 10px;
    }

    .navbar.open {
        display: flex;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }

    .header-content {
        margin-right: 40px;
        display: flex;
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }

    .logo {
        height: 30px;
    }

    .navbar a {
        margin: 10px 0;
    }

    .scrolled-background .navbar a {
        color: white;
    }

    .start-project-btn {
        margin-top: 10px;
    }
}

/* Desktop View for hide menu icon*/
@media screen and (min-width: 769px) {
    .navbar {
        gap: 20px;
    }
    .menu-icon {
        display: none;
    }
}
